

.g-item:hover img {
    transform: scale(1.05);
}

.g-feature {
    grid-row: span 2;
}

.gallery-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    color: var(--scarlet);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color .2s;
}

.gallery-link:hover {
    border-color: var(--scarlet);
}